<main>
  <h1>Резюме</h1>
  <app-personal titleText="ФИО" infoText="Одинцов Андрей Георгиевич"></app-personal>
  <app-personal titleText="Телефон" infoText="+380984338125"></app-personal>
  <app-personal titleText="Город проживания" infoText="Одесса"></app-personal>
  <app-experience></app-experience>
  <section>
    <app-skills [titleText]="'Навыки'" [array]="['Навык 1', 'Навык 2', 'Навык 3']"></app-skills>
    <app-skills [titleText]="'Знания'" [array]="['Знание 1', 'Знание 2', 'Знание 3']"></app-skills>
    <app-skills [titleText]="'Сертификаты'" [array]="['Сертификат 1', 'Сертификат 2', 'Сертификат 3']"></app-skills>
  </section>
  <div class="image-container">
    <img src="assets/image.png" alt="Изображение" class="centered-image">
  </div>

  



</main>


